body{
    background-image:url(../../images/ballin2.jpg);
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color:orchid;
}
h2{
    color:purple;
}
table, td, th{
    border: 1px solid black;
    background: grey;
    color: darkturquoise;
}
a:hover{
    color:yellow;
    background:red;
}
img{
    border:1px solid black;
}
p{
    color:navy;
}